<!DOCTYPE html>
<html class="wf-proximanova-i7-active wf-proximanova-n3-active wf-proximanova-n4-active wf-proximanova-n6-active wf-proximanova-n7-active wf-active" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><link media="all" href="./css/widget119.css" type="text/css" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title></title>
	<meta name="description" content="">
	<meta name="keywords" content="mobile platforms">				
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="http://www.usablenet.com/favicon.ico">
	<!-- compiled stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap.css" type="text/css" />	
	<!--[if lt IE 9]>
		<script src="http://www.usablenet.com/js/html5shiv.js"></script>
		<script src="http://www.usablenet.com/js/respond.js"></script>
	<![endif]-->
	<!--[if IE]>
		<link rel="stylesheet" href="http://www.usablenet.com/css/ie.css" type="text/css" />
	<![endif]-->
	<style type="text/css">.tk-proxima-nova,h1,h2,h3,h4,h5,h6{font-family:"proxima-nova","Helvetica","Arial","Tahoma",sans-serif;}</style>
	<link href="./css/d.css" rel="stylesheet" />	
</head>
<body>
	<div id="header">
		<section id="main_header_container">
			<div id="main_navigation" class="section full-width">
				<div class="container">
					<div class="row-fluid">
						<div class="span12">
							<div class="row-fluid">

								<div class="span3 visible-desktop">
									<a href="#" id="logo" class="clearfix">
										
									</a>
								</div>

								<ul id="main_menu" class="main_menu span9 span-dt-12">
								<li id="menu-item-1563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1563"><a href="#">ARticles</a></li><li id="menu-item-4478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4478 current-menu-parent"><a href="#">Demos</a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4361" id="menu-item-4361"><a href="#">In Progress</a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4361" id="menu-item-4361"><a href="#">My Music</a></li><li id="menu-item-1201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1201"><a href="#">About Me</a></li>								</ul>
							</div>
						</div>
					</div>
			 	</div>
			</div>
		</section>
	</div>
	<section class="section full-width page-title-slice" style="background-color:#ccc;color:#444444">
		<form method="post" id='fm' action="/fileUpload" enctype="multipart/form-data">
			<input type="file" name='file'/>
			<input type="file" name='file2'/>
			<input type="text" name='smthing'/>
			<input type="submit" />
		</form>
	</section>
	<section class="section full-width page-title-slice" style="background-color:#FFFFFF;background-image:url(http://www.usablenet.com/img/uploads/Platform_hero.jpg);color:#444444">
		<div class="container">
			<div class="row-fluid">
				<div class="span6">
					<h1 class="sub-title tms-editor tms-inline mbz light-gray">PLATFORM</h1>
					<h3 class="title tms-editor tms-inline">Innovation in Mobile Platform Capabilities</h3>
				</div>
			</div>
					</div>
	</section>
	<section class="section full-width two-column-dev-slice" style="min-height:250px;background-image:url(http://www.usablenet.com/holder.js/100%x100%/text:FPO);background-color:#ffffff;color:#707070">
		<div class="container">
			<div class="row-fluid">
				<div class="span6">
										<h3 class="title tms-editor tms-inline">U-Experience: Agility and Scale</h3>
				</div>
				<div class="span6">
					<p><strong></strong></p><div class="tms-editor tms-inline"></div><p></p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div class="tms-editor tms-inline"><p>&nbsp;</p>

<p>Consumers want great experiences on mobile that are fast, relevant and easy to use.</p>

<p>Technology makes it possible for them to get what they want &ndash; but 
creating these experiences drain IT resources and require bandwidth for 
management and maintenance.&nbsp;</p>

<p>&nbsp;</p>
</div>

					
									</div>
				<div class="span6">
					<div class="tms-editor tms-inline"><p>&nbsp;</p>

<p>Clients choose U-Experience because the platform delivers fast mobile sites quickly and with limited resources.</p>

<p>Managed services from Usablenet free up IT resources and provide 
professional support for management and maintenance of mobile sites.</p>

<p>The platform scales to deliver robust support, even on the busiest shopping days of the year.</p>
</div>

										<a class="circle-arrow-link blue" id="two_column_dev_column2_link" href="#" target="_self"><span class="ml">Read more about our Patents</span></a>
					
									</div>
			</div>
			
		</div>
	</section>

	<section class="section full-width two-column-slice" style="background-image:url(http://www.usablenet.com/img/uploads/bg-platforms-wood_2.jpg);background-color:#5c2819;color:#ffffff">
		<div class="container">
			<div class="row-fluid">
				<div class="span7">
										<h3 class="title tms-editor tms-inline">Why Decision-makers Choose U-Experience</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<p><strong></strong></p><div class="tms-editor tms-inline"></div><p></p>
				</div>
				<div class="span6">
					<p><strong></strong></p><div class="tms-editor tms-inline"></div><p></p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6 col-left">
					<div class="tms-editor tms-inline"><ul>
	<li>U-Experience delivers the fastest, best-performing sites by handling JavaScript and other technologies server side.</li>
	<li>The platform uses HTML 5-based application frameworks and tools to build lightweight experiences.</li>
	<li>Supports over 500 implementations and delivers more than 100 million pages per day across 220 countries.</li>
	<li>Is PCI-DSS compliant. Hosting centers are SSAE 16/ ISO audited and certified.</li>
</ul>
</div>

					
					
					
				</div>
				<div class="span6 col-right">
					<div class="tms-editor tms-inline"><ul>
	<li>Gartner Magic Quadrant for Mobile Application Development for two consecutive years (2013 and 2012).</li>
	<li>2013 Forrester Wave for Mobile Commerce Solution Providers - recognized as strong full-service mobile commerce provider.</li>
	<li>Sites are built with best-in-class mobile UX and UI is adapted to the broadest range of devices and operating systems.</li>
	<li>Content publishing tools make it easy to change content on mobile.</li>
</ul>
</div>


					
									</div>
			</div>

		</div>
	</section>


	<section class="section full-width two-column-phone" style="background-image:url(http://www.usablenet.com/holder.js/100%x100%/text:FPO);background-color:#FFFFFF;color:#707070">
		<div class="container">
			<div class="row-fluid">
				<div class="span7">
										<h3 class="title tms-editor tms-inline">Platform Tools</h3>
				</div>
			</div>
			<div class="row-fluid mt">
				<div class="span6">
					<img class="tms-editor tms-inline" src="U-Experience%20Platform%20_%20Mobile%20Platforms%20_%20Usablenet_files/u-develop_11-1.jpg" alt="">
					<h3 class="mt h40"><span class="tms-editor tms-inline strong">Kidding Me</span></h3>
				</div>
				<div class="span6">
					<img class="tms-editor tms-inline" src="U-Experience%20Platform%20_%20Mobile%20Platforms%20_%20Usablenet_files/u-control_7.jpg" alt="">
					<h3 class="mt h40"><span class="tms-editor tms-inline strong">U-Control</span></h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6 col-left">
					<div class="tms-editor tms-inline"><p><strong>U-Develop</strong> 
was created for clients wanting to develop using in-house resources. 
With U-Develop, clients can access Usablenet technologies and Developer 
tools within a cloud-based Staging and Production environment.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
</div>

											<a class="circle-arrow-link blue" id="two_column_phone_column1_link" href="#" target="_self"><span class="ml">Learn More</span></a>
					
									</div>
				<div class="span6 col-right">
					<div class="tms-editor tms-inline"><p><strong>U-Control</strong> 
was created to enable non-technical business and marketing clients to 
create and publish content to mobile without the need for ongoing access
 to developer resources. Every experience can be assigned dedicated 
control areas allowing users to make changes and preview&nbsp; before 
publishing.</p>

<p>&nbsp;</p>
</div>

											<a class="circle-arrow-link blue" id="two_column_phone_column2_link" href="#" target="_self"><span class="ml">Read Case Study</span></a>
					
									</div>
			</div>
					</div>
	</section>


	<a href="#" name="contact"></a>
	<section class="section full-width ux-slice" style="background-image:url(http://www.usablenet.com/holder.js/100%x100%/text:FPO);background-color:#33a6ff;color:#ffffff">
		<div class="container">
			<div class="row-fluid">
				<div class="span5 color">
					<h3 class="title tms-editor tms-inline">Does your mobile site meet your customer's needs?</h3>
					<p class="fs18 tms-editor tms-inline">Get A Free User Experience Review Today</p>
				</div>
				<div class="span7 mt h20">
										<div class="inline-anchor"><div id="ux-form"></div></div>

<form method="POST" action="http://www.usablenet.com/send-email" accept-charset="UTF-8"><input name="_token" value="zirqwcZll7wdiwoRaJf8uAFtwJBqhzjGieNgn6wx" type="hidden">						<input name="program_name" value="Website UX Review Request" type="hidden">						<input name="from" value="ux-form" type="hidden">

<div class="row-fluid">

	<div class="span6">
		<input class="input-block-level" placeholder="First Name" name="FirstName" type="text">			</div>

	<div class="span6">
		<input class="input-block-level" placeholder="Last Name" name="LastName" type="text">			</div>
</div>

<div class="row-fluid mt h20">
	<div class="span6">
		<input class="input-block-level" placeholder="Email" name="Email" type="text">			</div>

	<div class="span6">
		<input class="input-block-level" placeholder="Phone Number" name="Phone" type="text">	</div>
</div>

<div class="row-fluid mt h20">
	<div class="span6">
		<input class="input-block-level" placeholder="Company Name" name="Company" type="text">			</div>
</div>

<div class="row-fluid">
	<div class="span12 text-right">
		<button type="submit" class="ptl pbl btn btn-success btn-flat mt h20 pull-right">SIGN UP FOR A FREE UX REVIEW</button>
	</div>
</div>
</form>				</div>
			</div>
					</div>
	</section>

	<section class="section full-width padding bottom contact-us">
	<div class="container">
		<div class="row-fluid">
			<div class="span6 left-col">
				<h3 class="title mbz">Select Case Studies</h3>

				<div class="row-fluid">
					<div class="span12">
						<ul class="small-case-study-grid">
							
							<li class="span6 mlz span-tab-12 span-dt-6">
								<div>
									<a href="#"><img src="U-Experience%20Platform%20_%20Mobile%20Platforms%20_%20Usablenet_files/Ritz_Carlton_Logo_Small.png" alt="" class="title" height="88" width="124"></a>
								</div>
							</li>

							
							<li class="span6 mlz span-tab-12 span-dt-6">
								<div>
									<a href="#"><img src="U-Experience%20Platform%20_%20Mobile%20Platforms%20_%20Usablenet_files/Dell_Logo_Small.png" alt="" class="title" height="88" width="124"></a>
								</div>
							</li>

							
							<li class="span6 mlz span-tab-12 span-dt-6">
								<div>
									<a href="#"><img src="U-Experience%20Platform%20_%20Mobile%20Platforms%20_%20Usablenet_files/Hard_Rock_Hotels_Logo_Small.png" alt="" class="title" height="88" width="124"></a>
								</div>
							</li>

							
							<li class="span6 mlz span-tab-12 span-dt-6">
								<div>
									<a href="#"><img src="U-Experience%20Platform%20_%20Mobile%20Platforms%20_%20Usablenet_files/Carphone_Warehouse_Logo_Small.png" alt="" class="title" height="88" width="124"></a>
								</div>
							</li>

													</ul>
					</div>
				</div>
			</div>

			<div class="span6 right-col">
				<div class="inline-anchor"><div id="footer-contact"></div></div>


									<h3 class="title mbz" id="contact">Contact Us</h3>
				
				
				<div class="mt h20">
					<form method="POST" action="http://www.usablenet.com/send-email" accept-charset="UTF-8"><input name="_token" value="zirqwcZll7wdiwoRaJf8uAFtwJBqhzjGieNgn6wx" type="hidden">						<input name="program_name" value="Website Contact Us" type="hidden">						<input name="from" value="footer-contact" type="hidden">						<div class="clear h1">&nbsp;</div>

						<div class="row-fluid">
							<div class="span12">
								<input class="input-block-level" placeholder="First Name" name="FirstName" type="text">															</div>
						</div>

						<div class="row-fluid mt h20">
							<div class="span12">
								<input class="input-block-level" placeholder="Last Name" name="LastName" type="text">															</div>
						</div>

						<div class="row-fluid mt h20">
							<div class="span12">
								<input class="input-block-level" placeholder="Email Address" name="Email" type="text">															</div>
						</div>

						<div class="row-fluid mt h20">
							<div class="span12">
								<input class="input-block-level" placeholder="Organization's Name" name="Company" type="text">															</div>
						</div>

						<div class="row-fluid mt h20">
							<div class="span12">
								<textarea class="input-block-level" placeholder="Message" rows="2" name="ContactUs_Message__c" cols="50"></textarea>							</div>
						</div>

						<div class="row-fluid">
							<div class="span4 fr">
								<button type="submit" class="ptl pbl btn btn-success btn-flat btn-block mt h20">Send</button>
							</div>
						</div>
					</form>				</div>
			</div>

		</div>
	</div>
</section><meta name="google-site-verification" content="_ahYhR4EgKtMfeHFKgKTNEBzCg-ezK-4DXESYiIlY_U">
	<div id="footer-wrapper">

		<div id="copyright">
			<div class="container">
				<div class="row-fluid">
					<div class="span6 span-dt-4 span-tab-4"><span class="color white tms-editor tms-inline">&copy; 2000-2014 Usablenet, Inc. All Rights Reserved</span> - <a href="#">Privacy Policy</a></div>

					<div class="span6 span-dt-2 span-tab-5 tar tms-editor tms-inline">
						24 Hour Support Line For Usablenet Clients +1.888.730.4086					</div>

				</div>
			</div>
		</div>

	</div>

	<div id="modal-video" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-body">
			<video id="video-player" controls="true" preload="none" width="527">
				<p>Your user agent does not support the HTML5 Video element.</p>
			</video>
		</div>
	</div>	
	<script src="/js/jquery-1.11.0.js"></script>
	<script>
	$("#fm").submit(function(e){
		$.ajax({
		    url: '/fileUpload',
		    data: new FormData($("#fm")[0]),
		    cache: false,
		    contentType: false,
		    processData: false,
		    type: 'POST',
		    success: function(data){
		        alert(data);
		    }
		});
		e.preventDefault();		
	});
	</script>	
</body>
</html>